{% extends 'meds/base.html' %}
{% block title %}Движение препарата{% endblock %}
{% block content %}

<h2 class="text-2xl font-bold mb-4">Движение для: {{ drug.name }}</h2>

<form method="post" class="space-y-4 bg-white p-6 rounded shadow">
  {% csrf_token %}
  {{ form.as_p }}
  <button type="submit" class="bg-blue-600 text-white px-4 py-2 rounded hover:bg-blue-700">Сохранить</button>
</form>

<a href="{% url 'drug_list' %}" class="inline-block mt-4 text-blue-600 underline">← Назад к списку</a>

{% endblock %}
